.header {
  position: relative;
  font-size: 0;
  &__nav {
    @extend .row;
  }
  &__logo {
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__menu {
    display: none;
    .menu__item {
      transition: all 0.3s ease;
      &:hover {
        background-color: #40c4ff;
        color: #ffffff;
      }
    }
    .menu__link {
      display: inline-block;
      line-height: 70px;
      height: 100%;
      padding: 0 30px;
      color: #061e37;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:hover {
        color: #ffffff;
      }
    }
    @include breakpoint(md) {
      display: block;
    }
  }
  &__banner {
    color: #ffffff;
    @include bg-img('../img/banner.png');
    padding: 200px 0;
    @extend .column;
    justify-content: center;
  }
}
.logo {
  color: #061e37;
  font-family: $font-family2;
  font-size: 20px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}
.banner__head {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 48px;
  @include breakpoint(tb) {
    font-size: 40px;
  }
  @include breakpoint(md) {
    font-size: 50px;
  }
}
.banner__text {
  width: 65%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
/*-----------Mobile menu-----------*/

.header__mobmenu {
  width: 51px;
  height: 51px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid #061e37;
  @extend .column;
  justify-content: center;
  &:hover{
   cursor: pointer;
  }
  @include breakpoint(md) {
    display: none;
  }
}

.mobmenu__item {
  margin: 4px 0;
  width: 35px;
  height: 2px;
  border: 1px solid #061e37;
  transition: all 0.5s ease;
}

.header__menu--active {
  position: absolute;
  right: 0;
  top: 68px;
  background: white;
  display: none;
  border-right: 2px solid #e6e6e6;
  border-left: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  width: 70%;
  max-width: 300px;
  .menu__item {
    display: block;
    text-align: center;
  }
}